/* The stylesheet for the home page. */

/* Banner */
#banner {
	overflow: hidden;
	margin:0;
	float:left;
	width:1000px;
}

/* Side bar */
#side-bar-news {
	width:300px;
	border:1px solid #666;
	position:absolute;
	margin-left:678px;
	margin-top:-30px;
	box-shadow: rgba(0,0,0,.30) 0 0 10px;
	background:#FFFFFF;
}
#side-bar-news h1{
	background-color: #FC0;
	height: 45px;
	line-height: 45px;
	margin: 0;
	padding: 0 10px;
}
.side-bar-news-event {
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
	padding-left:10px;
	padding-right:10px;
}
.side-bar-news-event:hover {
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background:#FAFAFA;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #EEEEEE 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#EEEEEE));
	background: -webkit-linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
	background: -o-linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
	background: linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
}
.side-bar-news-more {
	text-align:right;
	font-size:11px;
	line-height:2em;
	margin:0;
	padding:0 10px 0 0;
}
.side-bar-date {
	font-size:11px;
	font-style:italic;
	text-align:right;
}

/* Featured items */
.featured-item {
	width:630px;
	height:160px;
	background-color:#FFFFFF;
	margin-left:5px;
	margin-top:10px;
	box-shadow: rgba(0,0,0,.30) 0 0 5px;
}
.featured-item-image {
	float:left;
	width:160px;
	height:160px;
}
.featured-item-content {
	padding-left:170px;
	padding-top:2px;
	padding-right:10px;
}
.featured-item-content h2 {
	padding-left:0;
}

/* Counter */
#counterup {
	width:438px;
	float:left;
	display:block;
	display:inline;
	overflow: hidden;
	margin-top:-10px;
}
.counterupdigitgroup2 {
	width:71px; /* 34 + 3 + 34 */
	height:90px;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	float:left;
	display:inline;
	overflow: hidden;
}
.counterupdigitgroup4 {
	width:145px; /* 34 + 3 + 34 + 3 + 34 + 3 + 34*/
	height:90px;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	float:left;
	display:inline;
	overflow: hidden;
}
.counterupdigit {
	width:40px;
	height:70px;
	margin-left:-3px;
	margin-right:-3px;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	float:left;
	display:inline;
	overflow: hidden;
}
.counteruptext {
	text-align:center;
	color: #444;
	font-size:13px;
	font-weight: 300;
	line-height: 1.1em;
}
#counterupdigitdayfirst {
	background-image:url(../research/phd/counter/Digits10up.png);
	background-repeat:no-repeat;
}
#counterupdigitdaysecond {
	background-image:url(../research/phd/counter/Digits10up.png);
	background-repeat:no-repeat;
}
#counterupdigitdaythird {
	background-image:url(../research/phd/counter/Digits10up.png);
	background-repeat:no-repeat;
}
#counterupdigitdayfourth {
	background-image:url(../research/phd/counter/Digits10up.png);
	background-repeat:no-repeat;
}
#counterupdigithourfirst {
	background-image:url(../research/phd/counter/Digits03up.png);
	background-repeat:no-repeat;
}
#counterupdigithoursecond {
	background-image:url(../research/phd/counter/Digits10up.png);
	background-repeat:no-repeat;
}
#counterupdigitminutefirst {
	background-image:url(../research/phd/counter/Digits06up.png);
	background-repeat:no-repeat;
}
#counterupdigitminutesecond {
	background-image:url(../research/phd/counter/Digits10up.png);
	background-repeat:no-repeat;
}
#counterupdigitsecfirst {
	background-image:url(../research/phd/counter/Digits06up.png);
	background-repeat:no-repeat;
}
#counterupdigitsecsecond {
	background-image:url(../research/phd/counter/Digits10up.png);
	background-repeat:no-repeat;
}
