/* Fonts */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('fonts/OpenSans-Normal.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('fonts/OpenSans-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/OpenSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('fonts/OpenSans-Light-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('fonts/OpenSans-Normal-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('fonts/OpenSans-Semibold-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('fonts/OpenSans-Bold-Italic.woff') format('woff');
}

/* Page */
html {
	background: #aeaeae;
}
body {
	line-height:1.35em;
	font-family: 'Open Sans',arial,sans-serif;
	font-size: 13px;
	margin:0;
	background-repeat: no-repeat;
	background: #aeaeae; /* Old browsers */
	background: -moz-linear-gradient(top, #eaeaea 0%, #aeaeae 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#aeaeae)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eaeaea 0%,#aeaeae 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eaeaea 0%,#aeaeae 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #eaeaea 0%,#aeaeae 100%); /* IE10+ */
	background: linear-gradient(top, #eaeaea 0%,#aeaeae 100%); /* W3C */
}
h1 {
	color:#222;
	font-size:18px;
	font-weight:400;
	line-height:1.2em;
}
h2 {
	color:#333;
	font-size:16px;
	font-weight:300;
	padding-left:10px;
}
h3 {
	color:#444;
	font-size:14px;
	font-weight:300;
	padding-left:10px;
}
b {
	font-weight: 600;
}
pre {
	font-family:Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,serif;
	margin-top:0;
	margin-bottom:0;
}

/* Links */
a {
	color:#0645AD;
	text-decoration:none;
}
a:hover {
	color:#BA0000;
	text-decoration:underline;
}
a.external{
	background-image:url(../images/external.png);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:14px;
}
a:hover.external{
	background-image:url(../images/external_hover.png);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:14px;
}

/* Tables */
table.padding-4px td {
	padding: 4px;
}
table.align-top td {
	vertical-align: top;
}

table.information {
	border: 0;
	border-spacing: 0;
	border-collapse: separate;
	padding: 0;
	margin-top:10px;
	margin-bottom:10px;
	background-color: white;
}
table.information th {
	padding:4px;
	background-color:#C0C0C0;
}
table.information td {
	padding:4px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	background-color:#FFFFFF;
}
table.information th.strong {
	background-color:#FFCC32;
}
table.information td.strong {
	background-color:#E4E4E6;
}

table.publication {
	border: 0;
	margin: 2px;
	padding: 2px;
}
table.publication p {
	margin-bottom:0;
	margin-top:0;
}

/* Main menu */
#main-menu {
	width: 1000px;
	height: 40px;
	background: #808080;
	margin: 0;
}
#main-menu-list {
	margin: 0;
	padding: 0;
	width: 1000px;
	height: 40px;
	position:relative;
}
#main-menu-list a{
	width: 125px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px #333;
}
#main-menu-list a:hover {
	background: #405878;
}
#main-menu-selection {
	background:#003070;
	cursor:default;
}
.menu {
	clear: both;
	list-style-type:none;
}
.menu li {
	float:left;
}
.menu li a {
	display:block;
	font-size:15px;
	font-weight:400;
}
.menu li a:hover {
	color:#5995B1;
}

/* Content */
#content {
	width: 1020px;
	padding: 0
	margin: 0 auto;
	overflow:hidden;
}
#header {
	clear:both;
	padding: 0 0 135px;
	background-image:url(../images/back_top.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	float:left;
	width:1020px;
}
#footer {
	float:left;
	text-align:center;
	background-image:url(../images/back_bottom.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:1020px;
	height:200px;
}
#footer p {
	font-size:12px;
	color:#999;
	padding-top:55px;
}
#footer a {
	color:#999;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
#back {
	background-image:url(../images/back_middle.png);
	background-repeat:repeat-y;
	background-position:0px 0px;
	padding: 0 10px;
	width: 1020px;
	overflow: hidden;
}
#main-content {
	margin: 0 20px;
	width: 960px;
	overflow: hidden;
}
#main-content p {
	text-align: justify;
}
#columned-content {
	width: 1000px;
}
#columned-content .font-large {
	font-size: 16px;
	line-height: 1.5em;
}
#columned-content .font-large h1 {
	color: #003070;
	font-size: 2em;
	font-weight: 300;
}
#columned-content .justify p {
	text-align: justify;
}
#columned-content .row {
	width: 1000px;
	margin: 10px 0;
	overflow: auto;
}
#columned-content .row > div {
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#columned-content .row .col-1 {
	width: 100px;
}
#columned-content .row .col-2 {
	width: 200px;
}
#columned-content .row .col-3 {
	width: 300px;
}
#columned-content .row .col-4 {
	width: 400px;
}
#columned-content .row .col-5 {
	width: 500px;
}
#columned-content .row .col-6 {
	width: 600px;
}
#columned-content .row .col-7 {
	width: 700px;
}
#columned-content .row .col-8 {
	width: 800px;
}
#columned-content .row .col-9 {
	width: 900px;
}
#columned-content .row .padding-left {
	padding-left: 20px;
}
#columned-content .row .padding-right {
	padding-right: 20px;
}
#columned-content .row .justify-left {
	float: left;
}
#columned-content .row .justify-right {
	float: right;
}
#columned-content hr.divider {
	width: 1000px;
	height: 1px;
	margin: 0;
	border: 0;
	background-image: url(../images/path_back.png);
	background-repeat: no-repeat;
	background-position: center;
}

/* Side content */
#side-content {
	width:640px;
	margin:0;
	padding:0;
	text-align:justify;
}
#side-bar {
	float:right;
	width:300px;
	margin:0 10px 0 0;
	padding:0;
}
.side-bar-box-container {
	border:none;
	-webkit-border-radius: 100% / 8px;
	-moz-border-radius: 100% / 8px;
	-webkit-box-shadow: rgba(0,0,0,.30) 0 2px 3px;
	-moz-box-shadow: rgba(0,0,0,.30) 0 2px 3px;
	box-shadow: rgba(0,0,0,.30) 0 2px 3px;
}
.side-bar-box {
	background:#FAFAFA;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #EEEEEE 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#EEEEEE));
	background: -webkit-linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
	background: -o-linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
	background: linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
	color:#555;
	display:block;
	padding:5px;
	margin-bottom:10px;
	border:2px solid #FFFFFF;
	-moz-box-shadow: 0 0 3px #BBB;
	-webkit-box-shadow: 0 0 3px #BBB;
	box-shadow: 0 0 3px #BBB;
}
.side-bar-box:hover {
	background:#FAFAFA;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #DDDDDD 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#DDDDDD));
	background: -webkit-linear-gradient(top, #FAFAFA 0%,#DDDDDD 100%);
	background: -o-linear-gradient(top, #FAFAFA 0%,#DDDDDD 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%,#DDDDDD 100%);
	background: linear-gradient(top, #FAFAFA 0%,#DDDDDD 100%);
}
.side-bar-box p {
	margin:5px;
}

/* Global styles */
.hidden {
	display:none;
}
.no-border {
	border: 0;
}
.text-align-left {
	text-align:left;
}

/* Global classes */
.title {
	font-size:21px;
}
.figure {
	font-size: 12px;
	font-style: italic;
	color: #666;
	line-height: normal;
	margin-top:-12px;
}
.date {
	color:#666;
	font-style:italic;
	font-size:12px;
}
.update {
	color:#999;
	font-size:12px;
}
.accesskey {
	border:0;
	text-decoration:none;
}
.contents {
	background-color:#FFF;
	border-style:solid;
	border-width:thin;
	border-color:#666;
	padding:5px;
	overflow:auto;
}
.notice {
	padding: 0;
	margin: 0 auto;
	color:#BA0000;
	font-size:10px;
	line-height:1em;
}
.text-small {
	font-size:12px;
}
.text-italic {
	font-style:italic;
}
.text-gray {
	color:#666;
}

/* Boxes */
.box {
	border-style:solid;
	border-width:1px;
	border-color:#666;
	background-color:#EEE;
	padding:10px;
	margin-left:10px;
	margin-right:10px;
}
.box-icon {
	border-style:solid;
	border-width:1px;
	border-color:#666;
	background-color:#EEE;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:45px;
	padding-right:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	background-repeat:no-repeat;
	background-position:5px 5px;
}
.box-icon p {
	margin-top:5px;
	margin-bottom:5px;
}
.box-icon-information {
	background-image:url(../images/icon_information.png);
}
.box-icon-warning {
	background-image:url(../images/icon_warning.png);
}
.box-icon-stop {
	background-image:url(../images/icon_stop.png);
}
.box-icon-example {
	background-image:url(../images/icon_example.png);
}
.box-code {
	background-color:#FFF;
	border-style:solid;
	border-width:1px;
	border-color:#666;
	padding:5px;
	overflow:auto;
	padding:5px;
	margin:10px;
}

/* Path */
#path {
	font-size:12px;
	color:#999;
	margin-left:20px;
	width:960px;
	overflow:hidden;
	background-image:url(../images/path_back.png);
	background-repeat:no-repeat;
	background-position:bottom;
}
#path ul{
	padding:0;
}
#path li{
	list-style-type:none;
	float:left;
	padding-left:15px;
	color:#AAAAAA;
}
#path a{
	display:inline-block;
	color:#AAAAAA;
}
#path a:hover{
	color:#000000;
	text-shadow:0px 0px 2px #808080;
	text-decoration:none;
}
.path-arrow{
	background-image:url(../images/path_arrow.png);
	background-repeat:no-repeat;
	background-position:left;
}
#path-home a{
	display:block;
	width:21px;
	height:22px;
	background-image:url(../images/path_home.png);
	background-repeat:no-repeat;
	margin-left:-18px;
	margin-top:-3px;
	margin-bottom:3px;
}

#path-home a:hover{
	background-image:url(../images/path_home_hover.png);
}

#path-home span{
	display:none;
}

/* Infoboxes */

.infoboxes {
	height:150px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
	margin-top: 10px;
}
.infobox-container {
	border:none;
	-webkit-border-radius: 100% / 8px;
	-moz-border-radius: 100% / 8px;
	-webkit-box-shadow: rgba(0,0,0,.30) 0 2px 3px;
	-moz-box-shadow: rgba(0,0,0,.30) 0 2px 3px;
	box-shadow: rgba(0,0,0,.30) 0 2px 3px;
	display:inline;
	float:left;
	margin-left:10px;
	margin-right:10px;
	width:300px;
	height:134px;
}
.infobox {
	background:#FAFAFA;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #EEEEEE 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#EEEEEE));
	background: -webkit-linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
	background: -o-linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
	background: linear-gradient(top, #FAFAFA 0%,#EEEEEE 100%);
	color:#555;
	padding:5px;
	border:2px solid #FFFFFF;
	-moz-box-shadow: 0 0 3px #BBB;
	-webkit-box-shadow: 0 0 3px #BBB;
	box-shadow: 0 0 3px #BBB;
	width:286px;
	height:120px;
}
.infobox:hover {
	background:#FAFAFA;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #DDDDDD 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#DDDDDD));
	background: -webkit-linear-gradient(top, #FAFAFA 0%,#DDDDDD 100%);
	background: -o-linear-gradient(top, #FAFAFA 0%,#DDDDDD 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%,#DDDDDD 100%);
	background: linear-gradient(top, #FAFAFA 0%,#DDDDDD 100%);
}
.infobox a {
	margin:-5px;
	width:296px;
	height:130px;
	display:block;
	color:#0645AD;
	text-decoration:none;
	text-align:left;
	font-size:16px;
	background-position:0 0;
	background-repeat:no-repeat;
}
.infobox-image {
	float:left;
	overflow: hidden;
}
.infobox-title {
	display:block;
	width:186px;
	font-size:16px;
	font-weight: 300;
	margin-top:0px;
	margin-left:100px;
	margin-right:10px;
	padding-top:20px;
}
.infobox-title-single {
	height:20px;
}
.infobox-title-double {
	height:40px;
}
.infobox-text {
	display:block;
	width:186px;
	text-align:left;
	font-size:14px;
	margin-top:10px;
	margin-left:100px;
	margin-right:10px;
	color:#333;
}
.infobox-text p {
	margin-top:5px;
}

/* Code colors */
span.keyword {
	color: #00F;
}
span.keywordtype {
	color: #2B91AF;
}
span.keywordenum {
	color: #2F4F4F;
}
span.keywordflow {
	color: #F00;
}
span.preprocessor {
	color:#6F008A;
}
span.stringliteral {
	color:#A31515;
}
span.comment {
	color:#008000;
}
span.parameter {
	color:#808080;
}
span.xmlattr {
	color:#F00;
}
span.xmlattrvalue {	
	color:#00F;
}
span.xmlcdata {
	color:#808080;
}
span.xmlcomment {
	color:#008000;
}
span.xmlkeyword {
	color:#00F;
}
span.xmlname {
	color:#A31515;
}

/* Flag */
.flag {
	width:200px;
	height:52px;
	margin-left:800px;
	margin-top:20px;
	margin-bottom:-72px;
	background-repeat:no-repeat;
}

.flag-coming-soon {
	background-image:url(../images/flag_coming_soon.png);
}

.flag-beta {
	background-image:url(../images/flag_beta.png);
}
